<h1>About {{{dockerName}}} </h1>
<hr/>
<table class="about">
  <tr>
    <td><b>Language:</b></td>
    <td>{{{language}}}</td>
  </tr>
  <tr class="odd">
    <td><b>Image name:</b></td>
    <td>{{{dockerName}}}</td>
  </tr>
  <tr>
    <td><b>Image Version:</b></td>
    <td>{{{dockerVersion}}}</td>
  </tr>
  <tr>
    <td><b>Instance started:</b></td>
    <td>{{{started}}}</td>
  </tr>
</table>


<dl>
  <dt>System:</dt>
  <dd>
    <a href="{{ withProxyPrefixPath '/_monitor' }}">Monitor</a> |
    <a href="/robots.txt">robots.txt</a>
  </dd>
</dl>
<!-- env: {{env}} -->
