<link href="//www.kth.se/directory/static/css/bootstrap/bootstrap.min.css?v=2.5.4-19" media="all" rel="stylesheet">
<link href="//www.kth.se/directory/static/css/datatables/dataTables.bootstrap.min.css?v=2.5.4-19" media="all" rel="stylesheet">
<link href="//www.kth.se/directory/static/css/kth-style/kth-bootstrap-theme.css?v=2.5.4-19" media="all" rel="stylesheet">
<link href="//www.kth.se/directory/static/css/directory-web.css?v=2.5.4-19" media="all" rel="stylesheet">




<script src="//www.kth.se/directory/static/js/vendor.js?v=2.5.4-19"></script>
<script src="//www.kth.se/directory/static/js/datatables/jquery.dataTables.js?v=2.5.4-19"></script>
<script src="//www.kth.se/social/toolbar/widget.js"></script>

<h1>Applications deployed</h1>

{{#if error}}

<p>Error: {{error}}</p>

{{else}}

<p>
  Is this application important for any form of operations, or support to act upon.
</p>

<p>
  <span class="importance high"></span> High
  <br/>
  <span class="importance medium"></span> Medium
  <br/>
  <span class="importance low"></span> Low
  <br/>
</p>

<table id="deployments">

  <thead>
    <tr>
      <th>Application</th>
      <th>Version</th>
      <th>Path</th>
      <th>Contact</th>
      <th>Created</th>
    </tr>
  </thead>

  <tbody>

    {{#each data}}
    <tr>
      <td class="applicationName"><span title="Application importance: {{this.importance}}" class="importance {{this.importance}}"></span> {{this.applicationName}}</td>
      <td class="version">{{this.version}}</td>
      <td class="path"><a href="https://app.kth.se{{this.path}}">{{this.path}}</a></td>
      <td class="slackChannels">{{this.slackChannels}}</td>
      <td class="created">{{this.created}}</td>
    </tr>
    {{/each}}

  </tbody>
</table>

{{#each data}}

<div class="application">
  <h2>{{this.applicationName}}</h2>
  {{#if this.descriptionSwedish }}
    <p>{{this.descriptionEnglish}} </p>
  {{/if}}
  <strong>Website:</strong> <a href="https://app.kth.se{{this.path}}">https://app.kth.se{{this.path}}</a><br />
  {{#if this.importance}}
    <strong>Importance: </strong>{{this.importance}}<br/>
  {{/if}}
  {{#if this.slackChannels}}
    <strong>Responsible team: </strong>{{this.slackChannels}} <br/>
  {{/if}}

</div>
{{/each}} {{/if}}


<script>
  $(function () {
    // Only run sort script on big screen devices
    var boostrapTabletBreakpoint = 768
    if ($(window).width() > boostrapTabletBreakpoint) {
      $('#deployments').DataTable({
        paging: false,
        info: false,
        searching: false,
        order: [[2, 'asc']],
        columnDefs: []
      })
    }
  })
</script>