<link href="//www.kth.se/directory/static/css/bootstrap/bootstrap.min.css?v=2.5.4-19" media="all" rel="stylesheet">
<link href="//www.kth.se/directory/static/css/datatables/dataTables.bootstrap.min.css?v=2.5.4-19" media="all" rel="stylesheet">
<link href="//www.kth.se/directory/static/css/kth-style/kth-bootstrap-theme.css?v=2.5.4-19" media="all" rel="stylesheet">
<link href="//www.kth.se/directory/static/css/directory-web.css?v=2.5.4-19" media="all" rel="stylesheet">




<script src="//www.kth.se/directory/static/js/vendor.js?v=2.5.4-19"></script>
<script src="//www.kth.se/directory/static/js/datatables/jquery.dataTables.js?v=2.5.4-19"></script>
<script src="//www.kth.se/social/toolbar/widget.js"></script>
<script src="//momentjs.com/downloads/moment.min.js"></script>

<h1>CD pipeline deployments</h1>

{{#if error}}
<div aria-live="polite" role="alert" class="alert alert-danger">
      <p><strong>Opps this is not suppose to happen...</strong></p>
      <p>{{error}}</p>
  </div>
{{else}}

<p>These are the services developted by the KTH IT-department using our CD pipeline. (These are not all our services :) </p>

<h2>Something not working?</h2>
<p>All our services are monitored, see <a href="https://www.kthstatus.se/">there status here</a>.</p>
<p>For more information about larger outages, please look at the <a href="https://www.kth.se/en/gemensamt/driftsinformation-webbtjanster/ug-rss">IT-support pages.</a></p>

<table id="deployments">

  <thead>
    <tr>
      <th>Application</th>
      <th>Path</th>
      <th>Updated</th>
      <th>Contact</th>
    </tr>
  </thead>

  <tbody>

    {{#each data}}
    <tr>
      {{#if this.publicNameEnglish}}
      <td class="applicationName"><span title="Incident Response Time: {{this.importance}}" class="importance {{this.importance}}"></span> <a href="#{{this.applicationName}}">{{this.publicNameEnglish}}</a></td>
    {{else}}
      <td class="applicationName"><span title="Incident Response Time: {{this.importance}}" class="importance {{this.importance}}"></span> <a href="#{{this.applicationName}}">{{this.applicationName}}</a></td>
    {{/if}}
      {{#if this.monitorUrl}}
        <td class="path"><a href="{{this.monitorUrl}}">{{this.path}}</a></td>
      {{else}}
        <td class="path"><a href="https://app.kth.se{{this.path}}">{{this.path}}</a></td>
      {{/if}}
      <td class="created"><span id="created{{@index}}">{{this.created}}</span></td>
      <td class="slackChannels">{{this.slackChannels}}</td>
    </tr>
    <script>
      
      document.getElementById("created{{@index}}").innerHTML = moment.unix({{this.created}}).fromNow()

    </script>

    {{/each}}

  </tbody>
</table>

<h2>Incident Response Time</h2>
  <p>
    The coloured circles is a classification of each service importance for any form of operations,
    or support to act upon. It also tells you as a user how long before a disturbance is fixed.
  </p>

<div aria-live="polite" role="alert" class="alert alert-info">

  <p>
    <span class="importance high"></span> High <span class="alert-info-texst" >- Actively monitored by operations personal during office hours. Operations are on call until midnight. Action to bring back the service is normally taken within 15 minutes.</span><br/>
    <span class="importance medium"></span> Medium <span class="alert-info-texst" >- Actively monitored by operations personal during office hours. The service is normally back within 2 hours.</span><br/>
    <span class="importance low"></span> Low <span class="alert-info-texst" >- The service is normally back within a day.</span><br/>
  </p>
</div>


<h2>Extended information about the listed services</h2>
{{#each data}}

<div class="application">
  <a name="{{this.applicationName}}"></a>
  {{#if this.publicNameEnglish}}
   <h3>{{this.publicNameEnglish}} <span class="applicationName"> - {{this.applicationName}}</span></h3> 
  {{else}}
    <h3>{{this.applicationName}}</h3> 
  {{/if}}

  {{#if this.publicNameSwedish}}
    <strong>Svenskt namn:</strong> {{this.publicNameSwedish}}<br /> 
  {{/if}}

  {{#if this.descriptionEnglish }}
    <p>{{this.descriptionEnglish}} </p>
  {{/if}}

  <strong>Website:</strong>  {{#if this.monitorUrl}}<a href="{{this.monitorUrl}}">{{this.path}}</a> {{else}} <a href="https://app.kth.se{{this.path}}">https://app.kth.se{{this.path}}</a> {{/if}}<br />
  <strong>Version: </strong>: {{this.version}}<br/>
  {{#if this.importance}}
    <strong>Incident Response Time:</strong> <span title="Application importance: {{this.importance}}" class="importance {{this.importance}}"></span> {{this.importance}}<br/>
  {{/if}}
  {{#if this.slackChannels}}
    <strong>Responsible team: </strong>{{this.slackChannels}} <br/>
  {{/if}}

  <hr />
</div>
{{/each}} {{/if}}


<script>
  $(function () {
    // Only run sort script on big screen devices
    var boostrapTabletBreakpoint = 768
    if ($(window).width() > boostrapTabletBreakpoint) {
      $('#deployments').DataTable({
        paging: false,
        info: false,
        searching: false,
        order: [[0, 'asc']],
        columnDefs: []
      })
    }
  })
</script>